$primary01: rgba(68, 84, 195, 0.1);
$primary02: rgba(68, 84, 195, 0.2);
$primary03: rgba(68, 84, 195, 0.3);
$primary04: rgba(68, 84, 195, 0.4);
$primary05: rgba(68, 84, 195, 0.5);
$primary06: rgba(68, 84, 195, 0.6);
$primary07: rgba(68, 84, 195, 0.7);
$primary08: rgba(68, 84, 195, 0.8);
$primary09: rgba(68, 84, 195, 0.9);
$primary005: rgba(68, 84, 195, 0.05);
