
@import url("./fontface.css");
@import url("./variable.css");
html {
     overflow: auto;
     height: 100%;
     overflow-y: scroll;
     box-sizing: border-box;
}
*,*::after,*::before {
     box-sizing: border-box;
}

body {
     height: 100%;
     font-family: var(--body-font);
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: 0;
}

form,input,button,a {
          font-family: var(--body-font);
}