.no-caret-icon::after {
  display: none !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.no-border {
  border: 0 !important;
}
.no-box-showdow {
  box-shadow: none !important;
}
